// .container {
//     max-width: 1500px;
//     padding: 10px;
// }

.main-container {
    // max-width: 1200px;
    width: 80vw;
    margin: 0 auto;
    padding-left: 0.6rem;
    padding-right: 0.6rem;

}

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}