.app-header {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 40px;
}

.img-category-container{

    img{
        width: 300px;
        height: 220px;
        cursor: pointer;
        border-radius: 20px;
    }
    ul {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
    }
    li {
        list-style: none;
    }

}
