.app-header {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 40px;
}

.img-container{
    img{
        width: 320px;
        height: 220px;
        cursor: pointer;
    }

}
