.project-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  .details-img-container {
    margin-top: 10px;
    grid-column: 1/-1;
    grid-row: 1/2;
    display: grid;
    grid-template-rows: 350px 350px;
    grid-template-columns: 1fr 1fr;
    border-radius: 20px;
    overflow: hidden;
    grid-gap: 8px;
    list-style-type: none;
    padding: 0;
    .img-1 {
      grid-column: 2/3;
      grid-row: 1/2;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .img-2 {
      grid-column: 1/2;
      grid-row: 1/3;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .img-3 {
      grid-column: 2/3;
      grid-row: 2/3;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .project-info {
    margin-top: 20px;
    grid-row: 2/3;
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    border-top: 1px dotted lightgrey;
    border-left: 1px dotted lightgrey;
    padding: 15px;
    h1 {
      text-align: center;
    }
    span {
      font-weight: normal;
    }
    .project-description {
      p {
        margin: 10px;
      }
    }
    button {
      min-width: fit-content;
      padding: 10px;
      max-width: 20%;
      font-size: medium;
      border-radius: 7px;
    }

  }
  .members {
    grid-row: 2/3;
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-left: 1px dotted lightgrey;
    border-top: 1px dotted lightgrey;
    border-right: 1px dotted lightgrey;
    padding: 15px;
    margin-top: 20px;
    .el-button {
      min-width: 30%;
      max-width: 100%;
    }
    .spots-left-num {
      text-align: end;
      margin-right: 20px;
      margin-top: 20px;
      span {
        color: red;
        font-weight: 600;
        font-size: 1.1rem;
      }
    }
    h3 {
      align-self: center;
    }
    .amneties {
      font-size: smaller;
    }
    .member-list {
      list-style-type: none;
      display: flex;
      flex-wrap: wrap;
      gap: 20px;

      li {
        font-weight: bold;
        display: flex;
        align-items: center;
        flex-direction: column;
      }
    }
    .first-to-join {
      text-align: center;
    }
  }
}
