.app-footer{
    height: 30px;
    background-image: linear-gradient(to left, #02a092, #21ab92, #38b590, #4ebf8d, #64c989);

    p{
        color: white;
        font-size: 0.9rem;
        text-align: center;
    }
    
}