.app-header{
    background-image: linear-gradient(to top, #02a092, #21ab92, #38b590, #4ebf8d, #64c989);
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
    
}

.header{
    display: flex;
    height: 45px;
    justify-content: space-between;
    align-items: center;
    .logo {
        a{
            cursor: pointer;
            font-family: caveat;
            color: white;
            font-size: 1.8rem;
        }
    }
    .nav{
        a{
            font-family: montserrat;
            font-size: 1rem;
            color: white;
            margin-inline-end: 50px;
            &:last-child{
                margin-inline-end: 0;
            }
        }

    }
}




