.app-header {
  background-image: linear-gradient(
    to left,
    #02a092,
    #21ab92,
    #38b590,
    #4ebf8d,
    #64c989
  );
  background-color: white;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.header {
  display: flex;
  height: 55px;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  .closeMenu {
    .notification-counter {
      position: absolute;
      top: -5px;
      right: -2px;
      background-color: rgba(212, 19, 13, 1);
      color: #fff;
      border-radius: 3px;
      padding: 1px 3px;
      font: 8px Verdana;
    }
    display: flex;
    align-items: center;
    .user-link {
      margin-right: 20px;
    }
  }
  .logo {
    a {
      display: flex;
      align-items: center;
      cursor: pointer;
      font-family: caveat;
      color: white;
      font-size: 2rem;
    }
  }
  .svg-image {
    height: 40px;
    fill: whitesmoke;
  }

  nav {
    a {
      font-family: montserrat;
      font-size: 1rem;
      color: white;
      font-weight: 600;
      margin-inline-end: 40px;
      height: 100%;
      transition: 0.3s;
      &:last-child {
        margin-inline-end: 0;
      }
      &:hover {
        text-shadow: -1px 0px 12px black;
        cursor: pointer;
      }
    }
  }
  .fa-bars {
    color: white;
    .user-link {
      display: inline-flex;
      gap: 15px;
    }
  }
}

.fa-user-circle {
  margin-right: 5px;
}

.menu {
  cursor: pointer;
  display: none;
  position: absolute;
  right: 50px;
  font-size: x-large;
}

.user-icon {
  position: relative;
  .notification-counter {
    position: absolute;
    top: -7px;
    right: -2px;
    background-color: rgba(212, 19, 13, 1);
    color: #fff;
    border-radius: 3px;
    padding: 1px 3px;
    font: 9px Verdana;
  }
}

.alert {
  background-color: yellowgreen;
  height: 200px;
  width: 200px;
  position: fixed;
  bottom: 0;
  right: 0;
}
