.project-preview {
  display: grid;
  // gap: 10px;
  grid-template-columns: 10px 1fr 10px;
  height: 100%;
  align-items: center;
  row-gap: 10px;
  cursor: pointer;

  .el-image {
    height: 200px;
    grid-area: 1 / 1;
    .el-image__inner {
      object-fit: cover;
    }
  }

  > * {
    grid-column: 2;
  }

  > .full {
    grid-column: 1 / -1;
  }

  h1 {
    text-align: center;
    margin-bottom: 0;
  }
  .preview-rate {
    display: flex;
    gap: 10px;
    color: #ff9900;
    align-items: center;
    margin-bottom: 10px;
    grid-row: 4/5;
  }
  .spots-left-num {
    grid-row: 4/5;
    justify-self: end;
    margin-bottom: 10px;
    span {
      color: red;
      margin-right: 5px;
      font-weight: 600;
      font-size: 1.1rem;
    }
  }

  .preview-tag {
    grid-area: 1 / -1 / 1 / 1;
    justify-self: end;
    align-self: end;
    z-index: 1;
  }
  .preview-details {
    display: flex;
    justify-content: space-between;
  }
  .el-tag {
    margin-block-end: 2.5px;
    margin-inline-end: 1px;
    // background-color: #f4f4f5cc;
    // font-weight: 600;
    // color: #38b590;
  }
}
