.project-preview {
  display: grid;
  gap: 10px;
  grid-template-columns: 10px 1fr 10px;
  height: 100%;
  align-items: center;
  cursor: pointer;

  .el-image {
    height: 200px;
    grid-area: 1 / 1;
  }

  > * {
    grid-column: 2;
  }

  > .full {
    grid-column: 1 / -1;
  }

  h1 {
    margin: 0;
    text-align: center;
  }
  .preview-rate {
    display: flex;
    gap: 10px;
    color: #ff9900;
    align-items: center;
    // margin: 0 auto;
    grid-row: 4/5;
  }

  .preview-tag {
    grid-area: 1 / -1 / 1 / 1;
    justify-self: end;
    align-self: end;
    z-index: 1;
  }
  .preview-details {
    display: flex;
    justify-content: space-between;
  }
  p {
    grid-row: 4/5;
    justify-self: end;
    .spots-left-num {
      color: #64c989;
      margin-right: 5px;
      font-weight: 600;
    }
  }
}
