.review-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 40px auto;
    h1 {
        margin: 10px 0;
        line-height: normal;
    }
    .el-input {
        width: 200px;
    }
    .review-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px;
        margin: 10px;
        .review-card {
            padding: 0 10px 10px 10px;
            height: 200px;
            width: 400px;
            display: grid;
            grid-template-rows: 50px auto 20px;
            grid-template-areas: "header" "body" "footer";
            align-items: center;
            .review-header {
                grid-area: "header";
                display: flex;
                gap: 20px;
                align-items: center;
            }
            .review-body {
                grid-area: "body";
                padding: 20px;
                pre {
                    font-family: "montserrat";
                    margin: 0;
                }
            }
            .review-footer {
                grid-area: "footer";
                justify-self: center;
                font-weight: 600;
            }
        }
    }
    .review-form {
        padding: 10px;
        position: fixed;
        bottom: 0;
        right: 0;
        background-color: white;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        width: 350px;
        z-index: 1000;
        .close-review {
            top: 5px;
            right: 5px;
            position: absolute;
            background-color: grey;
            color: white;
        }
    }
}
