.review-container {
    border-top: 1px dotted lightgrey;
    grid-row: 3/4;
    grid-column: 1/-1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 10px 0;
    h1 {
        line-height: normal;
    }
    .el-input {
        margin-top: 25px;
        width: 200px;
    }
    .review-list {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        .review-card {
            grid-template-columns: 0.5fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 5fr;
            padding: 0 10px 10px 10px;
            height: 200px;
            width: 400px;
            display: grid;
            align-items: center;
            justify-items: center;
            .el-avatar {
                grid-row: 1/3;
            }
            .review-fullname {
                grid-row: 1/2;
                text-transform: capitalize;
            }
            pre {
                font-family: "montserrat";
                grid-row: 3/4;
                grid-column: 1/-1;
                margin: 0;
            }
            .review-date {
                grid-row: 2/3;
                grid-column: 2/3;
                font-size: smaller;
                font-weight: 600;
            }
            .el-rate {
                grid-row: 1/2;
                grid-column: 3/4;
                justify-self: end;
            }
        }
    }
    .review-form {
        box-shadow: -1px -1px 9px 0px black;
        padding: 10px;
        position: fixed;
        bottom: 0;
        right: 0;
        background-color: white;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        width: 350px;
        z-index: 1000;
        .close-review {
            top: 5px;
            right: 5px;
            position: absolute;
            background-color: grey;
            color: white;
        }
    }
}
