@font-face {
    font-family: caveat;
    src: url(~@/assets/fonts/caveat/Caveat-SemiBold.ttf);
}

@font-face {
    font-family: fira-sans;
    src: url(~@/assets/fonts/fira-sans/FiraSans-Medium.ttf);
}

