@font-face {
    font-family: caveat;
    src: url(~@/assets/fonts/caveat/Caveat-SemiBold.ttf);
}

@font-face {
    font-family: fira-sans;
    src: url(~@/assets/fonts/fira-sans/FiraSans-Medium.ttf);
}

@font-face {
    font-family: montserrat;
    src: url(~@/assets/fonts/montserrat/Montserrat-Regular.ttf);
}

@font-face {
    font-family: montserrat-bold;
    src: url(~@/assets/fonts/montserrat/Montserrat-Bold.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(~@/assets/fonts/roboto/Roboto-Regular.ttf);
}
@font-face {
    font-family: PatrickHand;
    src: url(~@/assets/fonts/PatrickHand/PatrickHand-Regular.ttf);
}


